.building-container {
  margin: 0;
  padding: 0 2em 4em;
  text-align: center;

  .building-table {
    margin: auto;
  }
}

.back-settings-btn {
  position: absolute;
  margin: 2em;
  top: 0;
  left: 0;
  width: 150px;
  height: 30px;
}
